{% extends 'main/base.html' %}
{% block title %}Home - Hospital Management System{% endblock %}
{% block content %}
  <div class="p-5 mb-4 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Welcome to the Hospital Management System</h1>
      <p class="col-md-8 fs-4 mx-auto">Efficiently manage patient records, doctor schedules, and appointments in one centralized location.</p>
      {% if user.is_authenticated %}
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'appointment_list' %}" role="button">View Appointments</a>
      </div>
        {% else %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'login' %}" role="button">Login</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'patient_register' %}" role="button">Register as Patient</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'doctor_register' %}" role="button">Register as Doctor</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}